.evo_title {
    background: rgba(0,0,0,.1);
    text-align: center;
    vertical-align: middle;
    margin: 20px 0;
}
.evo_title > h3 {
    display: flex;
    justify-content: center;
    font-family: "Sriracha";
    font-size: 40px;
    padding: 10px;
}
.evo_chain_sprites {
    display: flex;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    font-family: "Sriracha";
    background: rgba(255,255,255,.7);
}
.evo_chain_solo {
    display: flex;
    align-items: center;
}
.div_sprites {
    margin: 10px;
    transition: .25s;
}

.div_sprites:hover {
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
.div_arrow {
    margin: 0 40px;
    color: white;
}
.arrow {
    height: 50px;
    width: 50px;
    color: white;
    pointer-events: none;
}