.evo_title {
    background: rgba(0,0,0,.1);
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 20px auto;
    max-width: 700px;
}
.evo_title > h3 {
    display: flex;
    justify-content: center;
    font-family: "Sriracha";
    font-size: 40px;
    padding: 10px;
    border-radius: 50px 50px 0 0;
}
.evo_chain_sprites {
    display: flex;
    justify-content: space-around;
    font-family: "Sriracha";
    background: rgba(255,255,255,.7);
    border-radius: 0 0 20px 20px;
}
.evo_chain_solo {
    display: flex;
    align-items: center;
    position: relative;
}
.div_sprites {
    display: flex;
    margin: 10px;
    transition: .25s;
    max-height: 135px;
}

.div_sprites:hover {
    background: white;
    border-radius: 10%;
    cursor: pointer;
}
.arrow_holder {
    height: 135px;
}
.div_arrow {
    width: 50px;
    height: 50px;
    position: relative;

}
.arrow_content {
    /* position: absolute; */
    /* left: 150px; */

}
.arrow {
    height: 50px;
    width: 50px;
    pointer-events: none;

}

@media (max-width: 900px) {
    .evo_chain_solo {
        width: 33%;
        display: flex;
        justify-content: space-around;
    }

    .div_sprites {
        display: flex;
        justify-content: center;
        width: 60%;
    }
    .div_arrow {
        width: 40%;
    }
}

@media (max-width: 500px) {
    .div_sprites {
        width: 60%;
        transform: scale(.8);
    }
    .div_arrow {
        width: 40%;
        transform: scale(.7);
    }
    .arrow {
        width: 100%;
        height: auto;
    }
}