body {
    background: rgb(215,65,65);
    background: radial-gradient(circle, rgba(215,65,65,1) 0%, rgba(150,148,233,1) 100%);   
}
.random_button {
    font-size: 50px;
}
.poke_selector > div {
    margin: 0 auto;
    width: auto !important;
}
.pokeSprite {
    margin: 10px;
    transition: 1s;
}
.total_table {
    display: flex;
    margin: 0 auto;
    width: 40%
}
.table_sidebar {
    margin: 40px 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content:left;
    font-family: "Sriracha";
    cursor: pointer;
}
.sidebar_evoChain {
    display: flex;
    justify-content: center;
    padding: 5px;
    background: rgba(255,0,0,.5);
    margin: 20px 0 15px 0;
    border-radius: 0 15px 15px 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: rgba(255,255,255,.2);
    height: 100px;
    max-width: 50px;
    transition: 0.5s;
}
.sidebar_evoChain:hover,
.sidebar_moveList:hover {
    box-shadow: 0px 0px 15px white;
    transform: scale(1.05);
}

.sidebar_evoChain > p {
    transform: rotate(90deg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar_moveList {
    display: flex;
    justify-content: center;
    padding: 5px;
    background: rgba(0,255,0,.45);
    margin: 2px 0;
    border-radius: 0 15px 15px 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: rgba(255,255,255,.2);
    height: 100px;
    max-width: 50px;
    transition: 0.5s;
}
.sidebar_moveList > p {
    transform: rotate(90deg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content:flex-start;

}
.pokeText {
    font-size: 16px;
    font-family: "Sriracha";
}

.table_basic {
    max-height: 650px;
    margin: 20px 0 20px 20px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,.5);
    padding: 5px;
    font-family: "Sriracha";
}
.table_base_stats {
    max-height: 650px;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid rgba(0,0,0,.25);
}
.table_moves_list {
    max-height: 300px;
    margin: 20px 20px 20px 0;
    border-radius: 0px 20px 20px 0;
}
.div_for_buttons {
    margin: 0 auto;
    width: 50%;
}

.table_css {
    background: white;
    max-width: 100%;
    box-sizing: initial;
    overflow: scroll;
}
.basic_info {
    width: 400px;
    height: 100px;
    margin: 0;
}
.table_sprite_row > tr, .table_sprite_row > tr > th {
    vertical-align: middle;

}
.table_sprite_row > tr > th:first-child {
    background: rgba(0,0,0,.1);
    text-align: center;
    width: 50%;
}
.table_sprite_row > tr > th:last-child {
    background: rgba(0,0,0,.1);
    text-align: center;
    font-size: 30px;
    border-radius: 15px 15px 0 0;

}
.base_stats > thead > tr > th {
    font-size: 25px;
    background: rgba(0,0,0,.1);
    width: 50%;

}
.base_stats > tbody > tr > th {
    width: 50%;
}
.moves_list > thead > tr:first-child {
    font-size: 25px;
    background: rgba(0,0,0,.1);
}
.moves_list {
    position: relative;
}
.moves_list > thead > tr:last-child {
    position: sticky;
    top: 0;
    background: lightgray;
    border: lightgray;
}
th, td {
    border-style: none;
}
.base_stats > tr:nth-child(1) > th {
    background: greenyellow;
}
.base_stats > tr:nth-child(2) > th {
    background: lightcoral;
}
.base_stats > tr:nth-child(3) > th {
    background: burlywood;
}
.base_stats > tr:nth-child(4) > th {
    background: plum;
}
.base_stats > tr:nth-child(5) > th {
    background: goldenrod;
}
.base_stats > tr:nth-child(6) > th {
    background: skyblue;
    border-radius: 0 0 0 10px;
}

.move_list_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255,255,255,0.5);
    max-height: 550px;
    margin: 20px 0 20px 20px;
    border-radius: 20px 0 0 20px;
    padding: 10px;
}
.move_list_buttons > button {
    font-weight: bold;
    margin: 10px 0;
}

.fadein {
    opacity: 1;
    width:1000px;
    height:1000px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.bookmark_display > .moveList_page {
    display: flex;
    justify-content: center;
}

.homePage_container {
    display: flex;
}

@media (max-width: 900px) {
    .total_table {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
    }
    .homePage_container {
        flex-direction: column;
    }
    .div_for_buttons {
        width: 90%;
    }
    .moves_list {
        width: 100% !important;
    }
    .table_moves_list {
        width: 100%;
    }
    .div_for_buttons {
        width: 90%;
    }
}